body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.section1 {
    text-align: center;
    font-size: xx-large;
    color: aquamarine;
    padding: 10%;
    background-image: url(img/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(69, 8, 69), rgb(250, 34, 250));
    color: white;
    padding: 15px;
    border-radius: 40px;
}

.section-intro {
    text-align: center;
    font-size: xx-large;
    padding: 10%;
    padding-top: 5%;
    padding-bottom: 0%;
}

.amount-div {
    display: flex;
}

.donate-amount {
    text-align: center;
    font-size: x-large;
    width: 10%;
    margin: 5%;
    margin-top: 0%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(255, 247, 247);
    border-radius: 10px;
}

#red-border {
    color: red;
    border: 2px solid red;
}

.padding-adjust {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#left-amount {
    margin-left: 25%;
    margin-right: 0.5%;
}

#right-amount {
    margin-left: 0.5%;
    margin-right: 25%;
}

.other-amount-donation {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.other-amount-taka {
    width: 80%;
    color: rgb(136, 136, 136);
    text-align: center;
    font-size: large;
    border: none;
    border-bottom: 2px solid rgb(136, 136, 136);
    margin-bottom: 30px;
}

.services {
    display: flex;
}

.service-details {
    width: 40%;
    padding: 2%;
    margin: 0%;
    text-align: justify;
    border-radius: 10px;
}

.service-details img {
    height: 70px;
    width: 90px;
}

#Earthquake {
    margin-left: 20%;
    margin-right: 0.5%;
    background-color: rgb(255, 230, 198);
}

#Tropical-Cyclone {
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: rgb(203, 210, 255);
}

#Wildfire {
    margin-left: 0.5%;
    margin-right: 20%;
    background-color: rgb(255, 235, 202);
}

.donate-afgan {
    display: flex;
}

.donate-afgan-div {
    width: 50%;
    text-align: justify;
    font-size: large;
    margin: 5%;
}

.donate-afgan-div img {
    height: 400px;
    width: 550px;
}

.donate-india {
    display: flex;
}

.donate-india-div {
    width: 50%;
    text-align: justify;
    font-size: large;
    margin: 5%;
}

.donate-india-div img {
    height: 400px;
    width: 550px;
}

.subscribe {
    margin: 5%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(255, 241, 223);
    padding: 5%;
}

#button-email {
    background-color: rgb(216, 216, 216);
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

#button-subscribe {
    height: 40px;
    width: 75px;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(to right, red, rgb(251, 109, 109));
}

#footer {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: large;
    background-color: rgb(0, 0, 50);
    padding: 5%;
}